.heading
{
   font-size: 23px;
   width: 10%;
   margin: 0px;
}
.heading1
{
   font-size: 23px;
   width: 100%;
   margin: 0px;
}
.heading2
{
   font-size: 23px;
   width: 100%;
   margin: 0px;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
    margin-top: 30px;
}